    <img src="/img/banner-home.jpg" alt="" class="banner-fixed" id="introbanner">
    <div class="container-flex">
        <div class="col i50 xs-none s-none m-none"></div>

        <div class="col i50 xs100 s100 m100 util-bg util-hg-100vh" id='content'>
            <div class="center-all">
                <div class="row jc-center">
                    <div class="col i75" id='introduction'>
                        <h1 class='util-txt-center site-title'>Ready to join your fellow developers?</h1>
                        <p class='util-txt-center intro-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolore doloremque, ad aperiam ea porro. Voluptate amet rerum nam aut numquam cupiditate ipsum id. Impedit perferendis eligendi unde consequatur hic.</p>
                        <a href="/auth/login" class="button center" id='joinnow'>Join now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>