<div class="navholder">
    <nav class="top">
        <ul>
            <li>
                <a href=""><i class='bx bx-home' ></i></a>
            </li>
            <li>
                <a href="">
                    <i class='txt-color-theme bx bx-chat'></i>
                </a>
            </li>
            <li>
                <a href=""><i class='bx bx-hash' ></i></a>
            </li>
        </ul>
    </nav>
</div>