form {
  width: 75%;
  margin-top: 2rem; }
  form div {
    margin-top: 1rem; }

label {
  display: block; }

input {
  display: block;
  height: 2rem;
  background-color: #14181f;
  width: 100%;
  outline: none;
  color: white; }
  input:focus {
    border-top: 0.2rem solid #21aa05;
    transition: all .2s ease; }
  input[type='submit'] {
    background-color: #21aa05; }

.column {
  flex-direction: column; }

#introbanner {
  filter: brightness(0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover; }

.warning {
  font-size: .8rem;
  color: #e70000; }

#content-anim {
  animation: popupLogin .5s forwards; }

@keyframes popupLogin {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }
